html {
  scroll-behavior: smooth;
}
body {
  background-image: url(imgs/фон.png);
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(23, 23, 23, 0.72);
}
.wrapperbody{
  background-color: #e0dfdf;
  max-width: 1620px;
  margin: 0 auto;
  height: 100%;
  opacity: 85%;
}
.wrapper{
  background-color: #e0dfdf;
  max-width: 1260px;
  margin: 0 auto;
  height: 100%;
}
.logo {
  object-fit: cover;
  width: 50%;
}
.header_logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  object-fit: cover;
  flex:1;
  margin: auto;
}

.head{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  
}
.navig{
  width: 100%;
  height: 100%;
  flex:3;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.nav{
  padding-right: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
a{
  text-decoration: none;
  color: rgba(23, 23, 23, 0.72);
}
video{
  height: auto;
  width: 45%;
  object-fit: cover;
}
video[poster]{
  object-fit: cover;
}
.videoblock{
  margin-top: 5%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.players{
  padding-top: 4%;
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.photo{
  object-fit: cover;
  width: 75%;
  padding-bottom: 3%;
}
.nick{
  font-weight: 600;
  opacity: 100%;
}
.hz{
  font-weight: 550;
  font-size: 40px;
  text-align: center;
  padding-top: 10%;
  color: rgba(23, 23, 23, 0.90);
  line-height: 23px;
  padding-bottom: 3%;
}
.simple, .perfecto, .electronic, .b1t, .sdy{
  line-height: 30px;
  transition: 1s;
}
.hist_img{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  object-fit: cover;
  margin: auto;
  padding-bottom: 5%;
}
.history_img{
  object-fit: cover;
  width: 90%;
}
.hist_text{
  color: rgba(23, 23, 23, 0.80);
  padding-bottom: 5%;
  line-height: 30px;;
  padding-left: 2%;
  padding-right: 2%;

}
#more{
  display: none;
}
#myBtn {
  background-color: #dff41e57;
  border: none;
  color: rgba(23, 23, 23, 0.90);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 40%;
  transition: 1s;
}
#myBtn:hover{
  background-color: #dff41e;

}

footer{
  height: 100%;
  background-color: #000000f5 ;
  color: #e0dfdf;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 200;

}
.footer{
  padding-top: 4%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  
}
.partners{
  object-fit: cover;
  width: 250px;
  height: 150px;
}
.imagess{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  object-fit: cover;
  flex:1;
  margin: auto;
}
.contacts{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  object-fit: cover;
  flex:1;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 5%;
}
#a:hover{
  transition: 1s;
  color:rgba(23, 23, 23, 0.92);
}
#a{
  transition: 1s;
}
.navc{
  border-radius: 3px;
  padding: 1%;
}

.simple:hover, .perfecto:hover, .electronic:hover, .b1t:hover, .sdy:hover{
  background-color: #adaaaa;
  transition: 1s;
}
@media (max-width:1500px) {
  .players{
    flex-direction: column;
  }
  .photo{
    width: 25%;
  }
  .videoblock{
    flex-direction: column;
  }
  video{
    padding-bottom: 5%;
  }
  .navc{
    font-size: 25px;
  }
  body{
    font-size: 30px;
  }
  .age{
    padding-bottom: 8%;
  }
}